node_modules/
otra_carpeta/
/pages/styleprueba.css
/assets/js/pruebasjs.js
/assets/js/app.js
/pages/
package-lock.json
index2.html
clase2.js
indexeje.html
index3.html
index4.html
index5.html
index6.html
index7.html
index8.html
index9.html
css9.css
main3.js
main4.js
main5.js
main6.js
main7.js
main8.js
main9.js
guardarCodigo.txt






#ignora los archivos json excepto

#excepto este archivo que se incluye para revision