*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    color: brown;
    text-align: center;
    text-decoration:solid;
}

img{
    color: adjust-color($color: #000000, $red: 1, $green: 2, $blue: 3, $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: 1.0);
}